<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name ="hibernate.connection.url">jdbc:mysql://localhost:3306/ifinances?serverTimezone=CET</property>
        <property name ="hibernate.connection.username">infinite</property>
        <property name ="hibernate.connection.password">skills</property>

        <property name="show_sql">true</property>

        <mapping class="pl.paweln.jpa.entities.User" />
        <mapping class="pl.paweln.jpa.entities.TimeTest" />
        <mapping class="pl.paweln.jpa.entities.Bank" />
        <mapping class="pl.paweln.jpa.entities.Credential" />
        <mapping class="pl.paweln.jpa.entities.Account" />
        <mapping class="pl.paweln.jpa.entities.Transaction" />
        <mapping class="pl.paweln.jpa.entities.Budget" />
    </session-factory>
</hibernate-configuration>